<script>
    $(document).ready(function () {
        var gsDataBaseUrl = '/google-scholar-stats/';
        
        $.getJSON(gsDataBaseUrl + "gs_data.json", function (data) {
            var totalCitation = data['citedby'];
            document.getElementById('total_cit').innerHTML = totalCitation;
            var citationEles = document.getElementsByClassName('show_paper_citations');
            Array.prototype.forEach.call(citationEles, function(element) {
                var paperId = element.getAttribute('data');
                var numCitations = data['publications'][paperId]['num_citations'];
                element.innerHTML = '| Citations: ' + numCitations;
            });
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.error("获取Google Scholar数据失败:", textStatus, errorThrown);
        });
    });
</script>